@import 'colors';

.canvas1 {
  font: 10px sans-serif;
  background-color: $bgcolor;
  width: 500px;
  height: 500px;
  outline: $outcolor 10px solid;
  z-index: -1;
}

.canvas {
  position: absolute;
  width: 500px;
  height: 500px;
  z-index: 1;
  pointer-events: none;
}


.dot {
  fill: $color;
  stroke: #111010;
}

#webpack-img {
  width: 50px;
}
